
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                url("./assets/bg.png") no-repeat fixed;
    background-size: cover;
    background-color: #747474b7;
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.tcolumn{
    float: left;
    width: 33.33%;
}
.t2column{
    float: left;
    width: 66%;
}
.t45column{
    float: left;
    width: 45%;
}
.t10column{
    float: left;
    width: 10%;
}

.column{
  float: left;
  width: 50%;
}
.row{
    float: top;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.thick-row{
    float: top;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}
.slim-row{
    float: top;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
}
.cell {
    width: 60px;
    height: 60px;
    border: 0.1vw solid black;
    background-color: #ebae45;
    box-sizing: border-box;
    position: relative;
    border-radius: 0.5vw;
    display: inline-block;
    background-size: cover;
    background-position: center;
}
.row {
    position: relative;
    display: block;
}
.table{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 1vw;
    padding: 1vw;
    justify-content: space-evenly;
    table-layout: fixed;
}

.sidebar{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 1vw;
    padding: 0.6vw;
    margin-bottom: 0.6vw;
    display: inline-block;
}
.main{
    border-radius: 1vw;
    padding: 1vw;
    margin: 1vw;
    display: flex;
}
.target-grid-cell{
    background-color: #c68d2b;
}
.target-cell{
    animation: pulse 3s infinite;
}
.invalid-cell{
    border-color: red;
    border-width: 0.3vw;
}
.valid-cell{
    border: 0.3vw solid green;
}
.code-container{
    background-color: #c58e2ec1;
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    
}
.code-form{
    background-color: #c58e2ec1;
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
}
.container{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
}
.code-text{
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}
.button-container{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
}
.container{
    padding : 1vw;
    margin: 1vw;
    flex-wrap: wrap;
}
.button{
    background-color: #ebae45;
    border-radius: 0.5vw;
    padding: 0.2vw;
    margin: 0.2vw;
    border: none;
    color: rgb(55, 54, 54);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background-color: #c58e2ec1;
}
.button:active{
    background-color: #ebae45;
}
.wiggle{
    animation: wiggle 0.5s 2;
}
.dodge{
    animation: dodge 0.5s 2;
}
.rotate{
    animation: rotate 2s 1;
}
.mountain{
    background-image: url("./assets/mountain.png");
    border-color: rgb(112, 111, 111);
    border-width: 0.3vw;
    border-style: solid;
}
.settle{
    animation: settle 0.5s 2;
}
.sink{
    animation: sink 0.5s 1;
}
.full-rotate{
    animation: full-rotate 2s 1;
}

.tutorial-container{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    float: left;
}
.tutorial-text{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
}
.keyboard-tutorial{
    float: left;
}
.mouse-tutorial{
    float: right;
}
.timer{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 1vw;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5vw;
}
.spring{
    background-color: #7dfa81
}
.summer{
    background-color: #f7f77d
}
.autumn{
    background-color: #f7a77d
}
.winter{
    background-color: #7dcaff
}
.timer-text{
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}
.sidebar-text{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}
.hourglass{
    width: 2vw;
    height: auto;
}
.small-hourglass{
    width: 2vw;
    height: auto;
    filter: invert(100%);
}
.content-vertically-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quest-container{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    
}
.quest-title{
    color:rgb(55, 54, 54);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.quest-description{
    color:rgb(55, 54, 54);
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5vw;
}
.quest{
    background-color: #ebae45;
    border-radius: 0.5vw;
    padding-top: 0.01vw;
    padding-bottom: 0.01vw;
    padding-left: 0.5vw;
    padding-right: 0.05vw;
    margin: 0.5vw;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    height: 100%;
    width: 90%;
    min-height: 22vh;
}
.quest:hover{
    border: 0.1vw solid black;
    box-shadow: black 0.3vw 0.3vw 0.3vw;
    transition: 0.5s;
}
.quest-row{
    position: relative;
    display: block;
    height: 50%;
    overflow: hidden;
}
.quest-column{
    float: left;
    width: 50%;
    height: 100%;
}
.quest-point-text{
    color:rgb(55, 54, 54);
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
.spring-quest{
    background-color: #7dfa81;
    box-shadow: black 0.3vw 0.3vw 0.3vw;
}
.summer-quest{
    box-shadow: black 0.3vw 0.3vw 0.3vw;
    background-color: #f7f77d;
}
.autumn-quest{
    box-shadow: black 0.3vw 0.3vw 0.3vw;
    background-color: #f7a77d;
}
.winter-quest{
    box-shadow: black 0.3vw 0.3vw 0.3vw;
    background-color: #7dcaff;
}
.inactive-quest{
    background-color: #986a1a;
    transition: 0.5s;
}
.season-container{
    background-color: rgba(55, 54, 54, 0.903);
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
    flex-wrap: wrap;    
    display: inline-block;
    width: 100%;


}
.summer-container{
    background-color: #f7f77d;
    border-radius: 1vw;
    padding: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    margin: 0.5vw;
    width: 80%;
}
.spring-container{
        display: inline-block;

    background-color: #7dfa81;
    border-radius: 1vw;
    padding: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5vw;

    width: 80%;
}
.autumn-container{
        display: inline-block;

    background-color: #f7a77d;
    border-radius: 1vw;
    padding: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5vw;

    width: 80%;
}
.winter-container{
        display: inline-block;

    background-color: #7dcaff;
    border-radius: 1vw;
    padding: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5vw;

    width: 80%;
}
.season-text{
    color:rgb(55, 54, 54);
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}


@media (max-width: 1600px) {
    .cell {
        width: 62px;
        height: 62px;
    }
}
@media (max-width: 1550px) {
    .cell {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 1500px) {
    .cell {
        width: 58px;
        height: 58px;
    }
}
@media (max-width: 1450px) {
    .cell {
        width: 56px;
        height: 56px;
    }
}
@media (max-width: 1400px) {
    .cell {
        width: 54px;
        height: 54px;
    }
}
@media (max-width: 1350px) {
    .cell {
        width: 52px;
        height: 52px;
    }
}
@media (max-width: 1300px) {
    .cell {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 1250px) {
    .cell {
        width: 48px;
        height: 48px;
    }
}
@media (max-width: 1200px) {
    .cell {
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 1150px){
    .cell {
        width: 43px;
        height: 43px;
    }
}
@media (max-width: 1100px) {
    .cell {
        width: 41px;
        height: 41px;
    }
}
@media (max-width: 1050px) {
    .cell {
        width: 39px;
        height: 39px;
    }
}
@media (max-width: 1000px) {
    .cell {
        width: 37px;
        height: 37px;
    }
    
}
@media (max-width: 950px) {
    .cell {
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 900px) {
    .cell {
        width: 60px;
        height: 60px;
    }
    .column{
        width: 100%;
        float: none;
    }
    .sidebar{
        display: inline-block;
    }
    .main{
        display: inline-block;
    }
}
@media (max-width: 800px) {
    .cell {
        width: 55px;
        height: 55px;
    }
}
@media (max-width: 700px) {
    .cell {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 650px) {
    .cell {
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 600px) {
    .cell {
        width: 42px;
        height: 42px;
    }
}
@media (max-width: 550px) {
    .cell {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 500px) {
    .cell {
        width: 34px;
        height: 34px;
    }
}
@media (max-width: 450px) {
    .cell {
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 400px) {
    .cell {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 375px) {
    .cell {
        width: 28px;
        height: 28px;
    }
}
@media (max-width: 350px) {
    .cell {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 300px) {
    .cell {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 250px) {
    .cell {
        width: 18px;
        height: 18px;
    }
}
@media (max-width: 225px) {
    .cell {
        width: 16px;
        height: 16px;
    }
}
@media (max-width: 200px) {
    .cell {
        width: 15px;
        height: 15px;
    }
}



@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0px rgba(255, 239, 21, 0.7);
    }
    25% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0px rgba(255, 239, 21, 0.7);
    }
    50% {
        transform: scale(0.95);
        box-shadow: 0 0 0 3px rgba(255, 241, 49, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0px rgba(255, 239, 21, 0.7);
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes dodge {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes full-rotate{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}






